#wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px; /* Vertical spacing between rows */
}

.product#dsa {
    width: 50%; /* DSA width */
    position: absolute;
	background-color: #8a0123;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Vertically center DSA */
}

.product#mern {
    width: 30%; 
    height: 75px; 
	background-color: #f27f1b;
    position: absolute;
    right: 0;
    top: 0;
}

/* Second row */
.row.second {
    display: flex;
    justify-content: center;
}

.product#acciojob {
    width: 75%; 
	background-color: #626fe3;
}

/* Third row */
.row.third {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product#buisness-analytics {
    width: 40%; 
	background-color: #12967e;
}

.product#spring {
    flex-grow: 1;  
    height: 75px; 
    margin-left: 10px; 
	background-color: #f21b3f;
}
